<br><br><h1>INSTITUCIÓN</h1>
<p *ngIf="!institucionesLista"><em>Cargando..!</em></p>
<!-- <p><a [routerLink]="['/addUsuario']" class="btn btn-primary float-right mb-3">Nuevo Usuario</a></p> -->

<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Administrador" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Nº </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="codUe">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let element"> {{element.codUe}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="nombreUe">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.nombreUe}} </td>
      </ng-container>
       <!-- Name Column -->
       <ng-container matColumnDef="numResolucionAdm1">
        <th mat-header-cell *matHeaderCellDef> Nº Resolucion Adm</th>
        <td mat-cell *matCellDef="let element"> {{element.numResolucionAdm1}} </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="fechaResolucionAdm1">
        <th mat-header-cell *matHeaderCellDef>Fecha Resolucion Adm</th>
        <td mat-cell *matCellDef="let element"> {{element.fechaResolucionAdm1}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="codDistritoEducativo">
        <th mat-header-cell *matHeaderCellDef>Código Distrito Educativo</th>
        <td mat-cell *matCellDef="let element"> {{element.codDistritoEducativo}} </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="nombreDistritoEducativo">
        <th mat-header-cell *matHeaderCellDef>Nombre Distrito Educativo</th>
        <td mat-cell *matCellDef="let element"> {{element.nombreDistritoEducativo}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>  Editar </th>
        <td mat-cell *matCellDef="let element"><a [routerLink]="['/institucion/edit/', element.id]" class="btn btn-primary btn-sm float-right">Editar</a>  </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>  Eliminar </th>
        <td mat-cell *matCellDef="let element"><a [routerLink]="" (click)="delete(element.id)" class="btn btn-danger btn-sm float-right" >Eliminar</a></td>
      </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <br><br><br><br><mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>

</div> <br><br><br>