<mat-tab-group mat-align-tabs="end">
    <mat-tab label="Agregar Nuevo">

        <br> <br>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>REGISTRO DE INFORMACIÓN</mat-card-title>
              <mat-card-subtitle>Profesor</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://st4.depositphotos.com/7582590/21572/v/600/depositphotos_215728708-stock-illustration-teacher-professor-standing-in-front.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button  routerLinkActive="active" routerLink="/login-profesor">AGREGAR</button>
            </mat-card-actions>
          </mat-card>


    </mat-tab>    
    <mat-tab label="Editar - Eliminar">
        <br> <br>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>EDITAR - ELIMINAR INFORMACIÓN</mat-card-title>
              <mat-card-subtitle>Profesor</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://st4.depositphotos.com/7582590/21572/v/600/depositphotos_215728708-stock-illustration-teacher-professor-standing-in-front.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button  routerLinkActive="active" routerLink="/editarProfesor">EDITAR</button>
            </mat-card-actions>
          </mat-card>

    </mat-tab>

    <mat-tab label="Listar">
        <br> <br>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>LISTAR INFORMACIÓN</mat-card-title>
              <mat-card-subtitle>Profesor</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://st4.depositphotos.com/7582590/21572/v/600/depositphotos_215728708-stock-illustration-teacher-professor-standing-in-front.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button  routerLinkActive="active" routerLink="/profesor">LISTAR</button>
            </mat-card-actions>
          </mat-card>
    </mat-tab>

  </mat-tab-group>
