<br><br>
<form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" [formGroup]="form"  #formDir="ngForm" hideToggle>
     
      <mat-expansion-panel-header>
      <mat-panel-title>DATOS PERSONALES</mat-panel-title>
      <mat-panel-description>Ex. Apellidos, Nombres, Fecha de nacimiento<mat-icon>account_circle</mat-icon></mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label for="CedulaIdentidad">Cedula de Identidad</mat-label>
          <input matInput formControlName="cedulaIdentidad" placeholder="Ex. 10664536">
      </mat-form-field>
      <mat-error *ngIf="cedulaIdentidad.invalid && formDir.submitted">Cedula Identidad del profesor requerido.</mat-error>
  
      <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label for="Complemento">Complemento</mat-label>
        <input matInput formControlName="complemento" placeholder="Ex. 1A">
      </mat-form-field>
      <mat-error *ngIf="complemento.invalid && formDir.submitted">Complemento del profesor requerido.</mat-error>
  
      <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label for="Expedido">Expedido</mat-label>
          <input matInput formControlName="expedido" placeholder="Ex. Tj">
      </mat-form-field>
      <mat-error *ngIf="expedido.invalid && formDir.submitted">Expedido del profesor requerido.</mat-error>
  
      <br><sub>APELLIDO(S) Y NOMBRE(S)</sub><br><br>
      <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label for="ApPaterno">Apellido Paterno</mat-label>
          <input matInput formControlName="apPaterno" placeholder="Ex. Gonzales">
      </mat-form-field>
      <mat-error *ngIf="apPaterno.invalid && formDir.submitted">Apellido Paterno del profesor requerido.</mat-error>
  
      <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label for="ApMaterno">Apellido Materno</mat-label>
          <input matInput formControlName="apMaterno" placeholder="Ex. Figueroa">
      </mat-form-field>
      <mat-error *ngIf="apMaterno.invalid && formDir.submitted">Apellido Materno del profesor requerido.</mat-error>
       
      <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label for="Nombres">Nombres</mat-label>
          <input matInput formControlName="nombres" placeholder="Ex. Claudia Jerissa">
      </mat-form-field>
      <mat-error *ngIf="nombres.invalid && formDir.submitted">Nombres del profesor requerido.</mat-error>   

      <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label for="IdiomaFrecuente">Idioma Frecuente</mat-label>
          <input matInput formControlName="idiomaFrecuente" placeholder="Ex. Español">
      </mat-form-field>
      <mat-error *ngIf="idiomaFrecuente.invalid && formDir.submitted">Idioma Frecuente del profesor requerido.</mat-error>
  
      <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label for="OcupacionLaboral">Ocupacion Laboral</mat-label>
          <input matInput formControlName="ocupacionLaboral" placeholder="Ex. Administrador">
      </mat-form-field>
      <mat-error *ngIf="ocupacionLaboral.invalid && formDir.submitted">Ocupacion Laboral del profesor requerido.</mat-error>
      
      <mat-form-field appearance="fill">
        <mat-label>Grado de Instruccion</mat-label>
        <mat-select  formControlName="gradoInstruccion">
            <mat-option value="primarios">Primaria o menos</mat-option>
            <mat-option value="secundarios">Secundaria</mat-option>
            <mat-option value="profesionales">Profesional</mat-option>
            <mat-option value="universitarios">Universitaria(o) o Superior</mat-option>
          </mat-select>
        <span class="text-danger ml-3" *ngIf="gradoInstruccion.invalid && formDir.submitted">Grado de Instruccion del representante requerido</span>
        </mat-form-field>

        <mat-form-field class="example-full-width"  appearance="fill">
            <mat-label for="parentesco">Madre</mat-label>
                <input matInput formControlName="parentesco">
        </mat-form-field>

     <mat-form-field class="example-full-width"  appearance="fill">
          <mat-label for="Telefono">Telefono</mat-label>
              <input matInput formControlName="telefono" placeholder="Ex. 66-43321">
      </mat-form-field>
      <mat-error *ngIf="telefono.invalid && formDir.submitted">Telefono del profesor requerido.</mat-error>
  
      <mat-form-field class="example-full-width"  appearance="fill">
          <mat-label for="Celular">Celular</mat-label>
              <input matInput formControlName="celular" placeholder="Ex. 78704545">
      </mat-form-field>
      <mat-error *ngIf="celular.invalid && formDir.submitted">Celular del profesor requerido.</mat-error>
      
      <mat-form-field appearance="fill">
        <mat-label for="FechaNacimiento">Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>

      <!-- #docregion action-bar -->
          <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">End</button>
          </mat-action-row>
      <!-- #enddocregion action-bar -->
          </mat-expansion-panel>
  
        <br><br>
    <div class="form-group">
        <button type="submit"  class="btn btn-success float-right">Guardar</button>
        <button routerLinkActive="active" routerLink="/registro-representante-tutor" class="btn btn-secondary float-left">Registrar Tutor</button>
    </div>
  </mat-accordion>
  
</form> <br><br>
  