<form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    <br><br><mat-card class="example-card">

        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>AGREGAR CURSO</mat-card-title>
        </mat-card-header>

        <br><mat-form-field appearance="fill">
            <mat-label for="Nombre">Turno:</mat-label>
            <mat-select  formControlName="turno">
                <mat-option value="Mañana">Mañana</mat-option>
                <mat-option value="Tarde">Tarde</mat-option>
                <mat-option value="Noche">Noche</mat-option>
            </mat-select>
            <span class="text-danger ml-3" *ngIf="turno.invalid && formDir.submitted">Turno requerido</span>
        </mat-form-field>

        <br><mat-form-field class="example-full-width"  appearance="fill"> 
            <mat-label for="Nombre">Nombre:</mat-label>
            <input matInput formControlName="nombre" placeholder="Ex. Primero">
        </mat-form-field>
        <mat-error *ngIf="nombre.invalid && formDir.submitted">Nombre del curso requerido.</mat-error>

        <br><div class="form-group row">
            <label class="control-label col-md-12" >Paralelo:</label>
            <select class="form-control" style="background-color: rgba(0, 0, 0, 0.04); width: 51%; margin-left: 3%;" formControlName="idParalelo">
                <option value="{{ obj.id }}" *ngFor="let obj of listaSelect">{{ obj.nombre}}</option>
            </select>
            <span class="text-danger ml-3" *ngIf="idParalelo.invalid && formDir.submitted">Paralelo requerido</span>
        </div>

        <br><mat-form-field appearance="fill">
            <mat-label for="Nombre">Nivel:</mat-label>
            <mat-select  formControlName="nivel">
                <mat-option value="Inicial">Inicial</mat-option>
                <mat-option value="Primaria">Primaria</mat-option>
                <mat-option value="Secundaria">Secundaria</mat-option>
            </mat-select>
            <span class="text-danger ml-3" *ngIf="nivel.invalid && formDir.submitted">Nivel requerido</span>
        </mat-form-field>

        <br><mat-form-field class="example-full-width"  appearance="fill">
            <mat-label for="Descripcion">Descripcion</mat-label>
                <input matInput formControlName="descripcion" placeholder="Ex. Claudia Jerissa">
            </mat-form-field>
        <mat-error *ngIf="descripcion.invalid && formDir.submitted">Descripcion requerida.</mat-error>

        <br><mat-divider inset></mat-divider><br>

        <mat-card-actions>
            <button mat-button type="submit" class="btn btn-success float-right">GUARDAR</button>
            <button mat-button (click)="cancel()" class="btn btn-secondary float-left">CANCELAR</button>
        </mat-card-actions><br>
        
        <mat-card-content><br>
        <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.</p><br>
        </mat-card-content>

  </mat-card><br><br>
</form>
