<div class="w3-container">
  <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large">Login</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

      <div class="w3-center"><br>
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
        <img src="https://e7.pngegg.com/pngimages/458/83/png-clipart-computer-icons-user-profile-icon-design-edit-microphone-hand.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
      </div>

      <form class="w3-container" action="/action_page.php"  [formGroup]="form" #formDir="ngForm" novalidate>
        <div class="w3-section">
         
          <mat-form-field class="example-full-width"  appearance="fill">
            <mat-label for="Nombre">Nombre</mat-label>
            <input matInput formControlName="nombre" placeholder="Ex. Habilitado">
            </mat-form-field>
            <mat-error *ngIf="nombre.invalid && formDir.submitted">
                Nombre del usuario requerido.
            </mat-error><br>
    
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label for="Clave" >Clave</mat-label>
              <input matInput type="password" formControlName="clave">
            </mat-form-field>
            <mat-error *ngIf="clave.invalid && formDir.submitted">
                Clave del usuario requerido.
            </mat-error>

        </div>
      </form>

      <div class="form-group"> 
          <button (click)="save()"  class="btn btn-success float-right">Guardar</button>
          <button (click)="cancel()" class="btn btn-secondary float-left">Cancelar</button>
      </div><br><br>

    </div>
  </div>
</div>
