<br><br><h1>EVALUACIÓN ALUMNO - SER Y DECIDIR</h1>
<br><br>
<form class="example-form" [formGroup]="form"  #formDir="ngForm" (ngSubmit)="save()" novalidate>
    
    <div class="form-group col-md-8">
      <label class="control-label col-md-12">Burscar curso:</label>
      <select class="form-control" style="background-color: rgba(0, 0, 0, 0.04); width: 48%"  formControlName="idCurso" (click)="buscar(idCurso.value)">
          <option value="{{ obj.id }}" *ngFor="let obj of listaSelectCurso">{{  "Turno:" + " " + obj.turno + " " + "-" +" "+obj.nombre + " "+ obj.nivel }}</option>
      </select>
      <span class="text-danger ml-3" *ngIf="idCurso.invalid && formDir.submitted">Curso requerido</span>
    </div>

    <div class="form-group col-md-8">
      <label class="control-label col-md-12"  for="IdEstudiante" >Estudiante:</label>
      <select class="form-control" style="background-color: rgba(0, 0, 0, 0.04); width: 48%"   formControlName="idEstudiante">
          <option value="{{ obj.id }}" *ngFor="let obj of listaSelectEstudiante">{{ obj.nombres + " " + obj.apPaterno + " " + obj.apMaterno}}</option>
      </select>
      <span class="text-danger ml-3" *ngIf="idEstudiante.invalid && formDir.submitted">Estudiante requerido</span>
    </div>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Nº </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="idCurso">
            <th mat-header-cell *matHeaderCellDef> Curso </th>
            <td mat-cell *matCellDef="let element"> {{element.idCurso}} </td>
          </ng-container>
          <ng-container matColumnDef="idEstudiante">
            <th mat-header-cell *matHeaderCellDef> Estudiante </th>
            <td mat-cell *matCellDef="let element"> {{element.idEstudiante}} </td>
          </ng-container>
      
          <ng-container matColumnDef="notaSer">
            <th mat-header-cell *matHeaderCellDef>  Nota Ser </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field class="example-full-width" style="width: 120px;"  appearance="fill">
                    <mat-label for="NotaSer">Ser</mat-label>
                    <input matInput formControlName="notaSer" type="number" placeholder="Ex. Figueroa">
                </mat-form-field>
                <mat-error *ngIf="notaSer.invalid && formDir.submitted">Nota ser requerido.</mat-error>
            </td>
          </ng-container>

          <ng-container matColumnDef="notaDecidir">
            <th mat-header-cell *matHeaderCellDef>  Nota Decidir </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field class="example-full-width" style="width: 120px;"  appearance="fill">
                    <mat-label for="NotaDecidir">Decidir</mat-label>
                    <input matInput formControlName="notaDecidir" type="number" placeholder="Ex. Figueroa">
                </mat-form-field>
                <mat-error *ngIf="notaDecidir.invalid && formDir.submitted">Nota decidir requerido.</mat-error>
            </td>
          </ng-container>

          <ng-container matColumnDef="calificar">
            <th mat-header-cell *matHeaderCellDef>  Calificar </th>
            <td mat-cell *matCellDef="let element"><a class="btn btn-secondary btn-sm float-right" data-toggle="modal" data-target="#myModal" (click)="estudiante(element.idEstudiante);save()">Calificar</a>  </td>
          </ng-container>
  
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef>  Editar </th>
            <td mat-cell *matCellDef="let element"><a [routerLink]="['/estudianteCurso/edit/', element.id]" class="btn btn-primary btn-sm float-right">Editar</a>  </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        </table>
        <br><br><br><br><mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
  
    </div> <br><br><br>

    <div class="form-group"> 
      <button class="btn btn-success float-right" routerLinkActive="active" routerLink="/inicio" >Terminar</button>
    </div><br><br>

</form>