<h1>{{actionType}} Estudiantes - Materias</h1>
<form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    

    <div class="form-group row">
        <label class="control-label col-md-12" >Id Materia</label>
        <select class="form-control"  formControlName="idMateria">
            <option value="{{ obj.id }}" *ngFor="let obj of listaSelectMateria">{{ obj.nombre }}</option>
        </select>
        <span class="text-danger ml-3" *ngIf="idMateria.invalid && formDir.submitted">Id Materia requerido</span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" >Id Estudiante</label>
        <select class="form-control"  formControlName="idEstudiante">
            <option value="{{ obj.id }}" *ngFor="let obj of listaSelectEstudiante">{{ obj.nombres }}</option>
        </select>
        <span class="text-danger ml-3" *ngIf="idEstudiante.invalid && formDir.submitted">Id Estudiante requerido</span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" >Id Horario</label>
        <select class="form-control"  formControlName="idHorario">
            <option value="{{ obj.id }}" *ngFor="let obj of listaSelectHorario">{{ obj.horaInicio }}</option>
        </select>
        <span class="text-danger ml-3" *ngIf="idHorario.invalid && formDir.submitted">Id Horario requerido</span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" >Id Periodo</label>
        <select class="form-control"  formControlName="idPeriodo">
            <option value="{{ obj.id }}" *ngFor="let obj of listaSelectPeriodo">{{ obj.nombre }}</option>
        </select>
        <span class="text-danger ml-3" *ngIf="idPeriodo.invalid && formDir.submitted">Id Periodo requerido</span>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-success float-right">Guardar</button>
        <button (click)="cancel()" class="btn btn-secondary float-left">Cancelar</button>
    </div>
</form>
