<br><br>
<form class="example-form" [formGroup]="form"  #formDir="ngForm" novalidate>
    <table class="example-full-width" cellspacing="0"><tr>

        <div class="form-group" >
            <label class="control-label col-md-12">Curso</label>
            <select class="form-control"  style="background-color: rgba(0, 0, 0, 0.04)" formControlName="idCurso">
                <option value="{{ obj.id }}" *ngFor="let obj of listaSelectCurso">{{ obj.nombre }}</option>
            </select>
            <span class="text-danger ml-3" *ngIf="idCurso.invalid && formDir.submitted">Curso requerido</span>
        </div>

        <div class="form-group">
            <label class="control-label col-md-12" >Periodo</label>
            <select class="form-control" style="background-color: rgba(0, 0, 0, 0.04)" formControlName="idPeriodo">
                <option value="{{ obj.id }}" *ngFor="let obj of listaSelectPeriodo">{{ obj.nombre }}</option>
            </select>
            <span class="text-danger ml-3" *ngIf="idPeriodo.invalid && formDir.submitted">Periodo requerido</span>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-12" >Materia</label>
            <select class="form-control" style="background-color: rgba(0, 0, 0, 0.04)"  formControlName="idMateria">
                <option value="{{ obj.id }}" *ngFor="let obj of listaSelectMateria">{{ obj.nombre }}</option>
            </select>
            <span class="text-danger ml-3" *ngIf="idMateria.invalid && formDir.submitted">Materia requerido</span>
        </div>

        <div class="form-group">
            <label class="control-label col-md-12" >Categoria</label>
            <select class="form-control" style="background-color: rgba(0, 0, 0, 0.04)"  formControlName="idCategoria">
                <option value="{{ obj.id }}" *ngFor="let obj of listaSelectCategoria">{{ obj.nombre }}</option>
            </select>
            <span class="text-danger ml-3" *ngIf="idCategoria.invalid && formDir.submitted">Materia requerido</span>
        </div>
        
            <br><mat-form-field class="example-full-width"  appearance="fill">
            <mat-label for="Nota1">Nota</mat-label>
                <input matInput formControlName="nota1" type="number" placeholder="Ex. Figueroa">
            </mat-form-field>
            <mat-error *ngIf="nota1.invalid && formDir.submitted">Nota requerido.</mat-error>
             
            <br><mat-form-field class="example-full-width"  appearance="fill">
            <mat-label for="Descripcion">Descripcion</mat-label>
                <input matInput formControlName="descripcion" placeholder="Ex. Claudia Jerissa">
            </mat-form-field>
            <mat-error *ngIf="descripcion.invalid && formDir.submitted">Descripcion requerido.</mat-error>

    </tr></table>

        <div class="form-group">
            <button type="submit" (click)="save()" class="btn btn-success float-right">Guardar</button>
            <button (click)="cancel()" class="btn btn-secondary float-left">Cancelar</button>
        </div><br><br><br>

 </form>

