<br> <br>
<form [formGroup]="form" novalidate>
    <!-- <form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate> -->
<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" [formGroup]="form"  #formDir="ngForm" hideToggle>
       
        <mat-expansion-panel-header>
        <mat-panel-title>DATOS DE LA O EL ESTUDIANTE</mat-panel-title>
        <mat-panel-description>Ex. Apellidos, Nombres, Fecha de nacimiento<mat-icon>account_circle</mat-icon></mat-panel-description>
        </mat-expansion-panel-header>

        <br><sub>APELLIDO(S) Y NOMBRE(S)</sub><br><br>
        <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label for="ApPaterno">Apellido Paterno</mat-label>
            <input matInput formControlName="apPaterno" placeholder="Ex. Gonzales">
        </mat-form-field>
        <mat-error *ngIf="apPaterno.invalid && formDir.submitted">Apellido Paterno del estudiante requerido.</mat-error>
    
        <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label for="ApMaterno">Apellido Materno</mat-label>
            <input matInput formControlName="apMaterno" placeholder="Ex. Figueroa">
        </mat-form-field>
        <mat-error *ngIf="apMaterno.invalid && formDir.submitted">Apellido Materno del estudiante requerido.</mat-error>
         
        <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label for="Nombres">Nombres</mat-label>
            <input matInput formControlName="nombres" placeholder="Ex. Claudia Jerissa">
        </mat-form-field>
        <mat-error *ngIf="nombres.invalid && formDir.submitted">Nombres del estudiante requerido.</mat-error>   

        <br><sub>FECHA DE NACIMIENTO</sub><br><br>

        <mat-form-field appearance="fill">
            <mat-label for="FechaNacimiento">Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" (focus)="picker.open()" readonly>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>

        <br><sub>DOCUMENTO DE IDENTIFICACIÓN</sub><br><br>

        <mat-form-field class="example-full-width"  appearance="fill">
            <mat-label for="CedulaIdentidad">Cedula Identidad</mat-label>
                <input matInput formControlName="cedulaIdentidad" placeholder="Ex. 10664536">
        </mat-form-field>
        <mat-error *ngIf="cedulaIdentidad.invalid && formDir.submitted">Cedula Identidad del estudiante requerido.</mat-error>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label  for="Telefono">Telefono</mat-label>
              <span matPrefix>+466 &nbsp;</span>
              <input type="tel" matInput  formControlName="telefono" placeholder="52733">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="telefono.invalid && formDir.submitted">Telefono del estudiante requerido.</mat-error>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label  for="Celular">Celular</mat-label>
              <span matPrefix>+591 &nbsp;</span>
              <input type="tel" matInput  formControlName="celular" placeholder="78704214">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="celular.invalid && formDir.submitted">Celular del estudiante requerido.</mat-error>

      <mat-action-row>
        <button mat-button color="primary" type="submit" (click)="save()" >Guardar Estudiante</button>
      </mat-action-row>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle> 
        <mat-expansion-panel-header>
          <mat-panel-title>COMPLEMENTO</mat-panel-title>
          <mat-panel-description>Ex. Curso, Periodo<mat-icon>map</mat-icon></mat-panel-description>
        </mat-expansion-panel-header><br>

        <div class="form-group col-md-8">
          <label class="control-label col-md-12" >Periodo:</label>
          <select class="form-control" style="background-color: rgba(0, 0, 0, 0.04); width: 50%" formControlName="idPeriodo">
              <option value="{{ obj.id }}" *ngFor="let obj of listaSelect">{{ obj.nombre }}</option>
          </select>
          <span class="text-danger ml-3" *ngIf="idPeriodo.invalid && formDir.submitted">Id Periodo requerido</span>
        </div>
        
        <div class="form-group col-md-8">
            <label class="control-label col-md-12" >Estudiante:</label>
            <select class="form-control" style="background-color: rgba(0, 0, 0, 0.04); width: 50%"   formControlName="idEstudiante">
                <option value="{{ obj.id }}" *ngFor="let obj of listaSelectEstudiante">{{ obj.nombres + " " + obj.apPaterno +" "+ obj.apMaterno}}</option>
            </select>
            <span class="text-danger ml-3" *ngIf="idEstudiante.invalid && formDir.submitted">Estudiante requerido</span>
        </div>

          <div class="form-group col-md-8">
            <label class="control-label col-md-12" >Curso:</label>
            <select class="form-control" style="background-color: rgba(0, 0, 0, 0.04); width: 50%"   formControlName="idCurso">
                <option value="{{ obj.id }}" *ngFor="let obj of listaSelectCurso">{{ "Turno: " + " " + obj.turno +" "+ " - "+ " " +obj.nombre + " " + obj.nivel }}</option>
            </select>
            <!-- <span class="text-danger ml-3" *ngIf="idCurso.invalid && formDir.submitted">Curso requerido</span> -->
          </div>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
    </mat-expansion-panel>

    <br><br>
    <mat-card-actions> 
        <button mat-button type="button" (click)="save2()" class="btn btn-success float-right">Guardar</button>
        <button mat-button (click)="cancel()" class="btn btn-secondary float-left">Cancelar</button>
    </mat-card-actions>
  
  </mat-accordion>

</form><br><br>